{% set test = GoldTest.get(uid) %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-4.3.1.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('dashboard.static', filename='css/gold_test/certificate.css') }}">
		<title>Gold Test Certificate</title>
	</head>
	<body>
		{% set test_data = [test.data[index - 1]] if index else test.data %}
		{% for data in test_data %}
			<div class="container mt-4 p-0" {% if not loop.first %}style="padding-top: 1px !important;"{% endif %}>
				<table>
					<tr>
						<td>
							<h5 class="ml-7" style="font-size: 2.2rem">{{ test.bill_number }}</h5>
						</td>
						<td>
							<h5 class="ml-5 text-right" style="margin-right: 10px; margin-top: 5px">{{ test.created.strftime('%d/%m/%y') }}
							</h5>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<h5 class="ml-7" style="text-transform: uppercase">{{ data.name if data.name else test.customer.name }}</h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5 class="ml-7 w-100">{{ data.total_weight|round0(3) }}gm{% if data.test_weight > 0 %}/
								{{ data.test_weight|round0(3) }}gm{% endif %}</h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5 class="ml-7">{{ data.item|upper }}</h5>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<h5>
								{% if data.get('purity') and data.purity > 0 %}
									<span class="purity">{{ data.purity|round0(2) }}%</span>
								{% else %}
									<span class="purity" style="font-size: 1.7rem">NO GOLD</span>
								{% endif %}
							</h5>
						</td>
					</tr>
				</table>
			</div>
			{% if not loop.last %}
				<div class="page-break"></div>
			{% endif %}
		{% endfor %}

		<script type="application/javascript">
            (function () {
                let afterPrint = function () {
                    window.close()
                };

                if (window.matchMedia) {
                    var mediaQueryList = window.matchMedia('print');
                    mediaQueryList.addListener(function (mql) {
                        if (!mql.matches) {
                            afterPrint();
                        }
                    });
                }
                window.onafterprint = afterPrint;
            }());
            window.print();
		</script>
	</body>
</html>